{% extends "base.html.twig" %}

{% block meta %}
    <meta name="description" content="{{ product.description }}">
    <meta property="og:title" content="{{ product.name }}">
    <meta property="og:description" content="{{ product.description }}">
    <meta property="og:image" content="{{ asset('uploads/' ~ product.image) }}">
    <meta name="twitter:card" content="summary_large_image">
{% endblock %}

{% block title %}{{ product.name }}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-5">
            <img src="{{ asset('uploads/' ~ product.image) }}" 
                 srcset="{{ asset('uploads/' ~ product.image) }} 1x, {{ asset('uploads/' ~ product.image_2x) }} 2x" 
                 alt="Image of {{ product.name }}" 
                 class="img-fluid">
        </div>
        <div class="col-md-7 my-auto">
            <h1>{{ product.name }}</h1>
            <h2>{{ product.subtitle }}</h2>
            <p class="product-price">{{ (product.price / 100)|number_format(2, ',', '.') }} €</p>

            <p>{{ product.description }}</p>
            <div class="buttons">
                <a href="{{ product.link }}" class="btn btn-success">Accéder au site du produit</a>
                <a href="{{ path('add_to_cart', {'id': product.id}) }}" class="btn btn-primary">Ajouter au panier</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
