<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Old money clothes">
    <meta property="og:title" content="{% block title %}The fundamentals clothes - 100% Made in France{% endblock %}">
    <meta property="og:description" content="Découvrez The Fundamentals, votre destination e-commerce pour des vêtements fabriqués en France.">
    <meta property="og:image" content="{{ asset('assets/images/og_image.jpg') }}">
    <meta property="og:url" content="{{ app.request.uri }}">
    <meta name="twitter:card" content="summary_large_image">

    <!--FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Bootstrap core CSS -->
    <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet">
    {% block stylesheet %}{% endblock %}
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <!-- Custom styles for this template -->
    <link href="{{ asset('assets/css/carousel.css') }}" rel="stylesheet">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="{{ path('app_home') }}">The fundamentals</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('app_products') }}">Nos produits <span class="sr-only">(current)</span></a>
                    <a class="nav-link" href="#">Qui sommes nous ?</a>
                    <a class="nav-link" href="#">Contact <span class="sr-only"></span></a>
                    <a href="{{ path('app_cart') }}" class="mobile-cart">
                        Panier
                    </a>
                </li>
            </ul>
            
            <div class="navbar-item-custom">
                {% if app.user %}
                    <a href="{{ path('app_account') }}">Mon compte <small>({{ app.user.firstname }})</small></a> | <a href="{{ path('app_logout') }}">Déconnexion</a>
                {% else %}
                    <a href="{{ path('app_login') }}">Connexion</a> | <a href="{{ path('app_register') }}">Inscription</a>
                {% endif %}
            </div>
            
            <a href="{{ path('app_cart') }}" class="laptop-cart">
                <img src="{{ asset('assets/images/shopping-cart.png') }}" class="cart-icon" alt="Panier">
            </a>
        </div>
    </nav>
</header>

<main role="main">
    <div class="container">
        <!-- Main content -->
        {% block content %}
        {% endblock %}
    </div><!-- /.container -->
</main>

{% block javascript %}{% endblock %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/imask/7.1.1/imask.min.js"></script>
<script src="{{ asset('assets/js/bootstrap.bundle.js') }}"></script>
{% block script %}{% endblock %}
</body>
</html>
